<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="756ead">  <td>19/07/29 10:45:50</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testSetup()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@1d057a39]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="a6e1f4">  <td>19/07/29 10:45:55</td>   <td>4087</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicUserToolsAvailabilityTest.Login_validation()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@1d057a39]">Login_validation</td> 
  <td>main@1596000437</td>   <td></td> </tr>
<tr bgcolor="756ead">  <td>19/07/29 10:45:55</td>   <td>4093</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCleanup()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@1d057a39]">&lt;&lt;testCleanup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1596000437</td>   <td></td> </tr>
</table>
