<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>G</td><td>BasicUserToolsAvailabilityTest.Login_validation()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]<br/></td></tr>
<tr><td>full</td><td>BasicUserToolsAvailabilityTest.Login_validation()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]<br/></td></tr>
<tr><td>smoke</td><td>BasicUserToolsAvailabilityTest.Login_validation()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]<br/></td></tr>
<tr><td>test</td><td>BasicUserToolsAvailabilityTest.Login_validation()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]<br/></td></tr>
</table>
