<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Inventory Functional Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a4fc66">  <td>19/09/19 09:13:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BasicUserToolsAvailabilityTest.Login_validation()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]">Login_validation</td> 
  <td>pool-1-thread-1@1811917913</td>   <td></td> </tr>
<tr bgcolor="a4fc66">  <td>19/09/19 09:13:18</td>   <td>-1620</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BasicUserToolsAvailabilityTest.setup()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1811917913</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/09/19 09:13:19</td>   <td>13</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.testCleanup()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]">&lt;&lt;testCleanup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1811917913</td>   <td></td> </tr>
<tr bgcolor="69b199">  <td>19/09/19 09:13:05</td>   <td>-13781</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.testSetup()[pri:0, instance:com.screeninglog.test.BasicUserToolsAvailabilityTest@523884b2]">&gt;&gt;testSetup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@1811917913</td>   <td></td> </tr>
</table>
